html,
body {
	touch-action: pan-down;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: black;
	flex-direction: column;
}

canvas {
	outline: 9px solid black;
	outline-offset: -9px;
}

